/*
@后台
@author Polly
@email pollyng@foxmail.com
*/
body{background-color: #f5f5f5 !important; font-family: "Microsoft Yahei",tahoma,arial,sans-serif;}
a{text-decoration:none;}
p{font-size: 0.86em;color: #666;}
h6{font-size: 1.2em;font-weight: normal;}
.fm970{margin: 0 auto; width: 100%;max-width:970px;_width: 980px;}
.clearfix {zoom: 1;}
/*icon url*/
.site-logo,.s-btn,div[id^="plate"],div[id^="cat"]{
	background: url(../images/pic.png) no-repeat;
}
/*header start*/
.site-logo{	
	width: 420px;
	height: 60px;
	background-position: 0px -60px;
}
.wrap-welcome{
	float: right;
	margin: 1em;
}
.header-wrap > ul li{
	vertical-align: top;
	display: inline-block;
}
header{
	padding-top: 1em;
	background-color: #eee;
	border-bottom: 1px solid #dfdfdf;
}
/*header end*/
#content{
	clear: both;
}
/*left part start*/
.left-nav{
	border-radius: 5px;
	-moz-border-radius:5px; 
	border: 1px solid #dfdfdf;
	background-color: #fff;
	float: left;
	min-width: 80px;
	padding:1em;
}
.left-nav>ul>li>ul>li:nth-child(1)
{
	border-top: 1px solid #dfdfdf;
}
.left-nav > ul >li li{
/*	margin-left: 1.8em;*/
	font-size: 0.86em;
}
.left-nav > ul{
	line-height: 200%;
}
.left-nav > ul > li li a:link{
	color: #000;
}
.left-nav > ul > li li a:visited{
	color: #000;
}
.left-nav > ul > li li a:hover{
	color: #555;
}
.left-nav > ul > li li a:active{
	color: #555;
}
/*left part end*/
footer{
	clear: both;
	position: relative;
	top:1em;
	padding: 1em;
	background-color: #eee;
	border-top: 1px solid #dfdfdf;
}
footer p{
	text-align: center;
}

/******icons of the catagory*************/
div[id^="plate"]
{
	margin: 0.2em;
	width: 58px;
	height: 14px;
}
div[id^="cat"]
{
	position: relative;
	top:5px;
	width: 20px;
	height: 20px;
	float: left;
}
#plate-user{background-position:0px -125px;}
#plate-plate{background-position:0px -150px;}
#plate-news{background-position:0px -175px;}
#plate-comments{background-position:0px -200px;}

#cat-user{background-position: 0px -0px;}
#cat-auth{background-position: -20px 0px;}
#cat-plate{background-position: -40px 0px;}
#cat-addnews{background-position: -80px 0px;}
#cat-visible{background-position: -100px 0px;}
#cat-invisible{background-position: 0px -20px;}
#cat-comm{background-position: -20px -20px;}
/******icons of the catagory end*************/

/**********right part*****************/
.right-main{
	margin-top: 1em;
	margin-left: 140px;
	padding: 0em;
}
.right-main>div{
	padding: 4px 6px 4px 10px;
	line-height: 1.5em;
	border-radius: 5px;
	-moz-border-radius:5px; 
	border: 1px solid #dfdfdf;
	background-color: #fff;
	margin-top: 0.5em;
}
.right-main>div:nth-child(1){
	border: none;
	background:none;
}
.right-main>div:nth-child(2){
	border: none;
	background:none;
	padding: 0;
}

.right-main>.search>.s-input{
	width: 40%;
	max-width: 320px;
	height: 32px;
	font:16px/18px arial;
	margin: 6px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
}
.s-btn{
	position: relative;
	vertical-align: top;
	top: 6px;
	left: -11px;
	width: 38px;
	height: 34px;
	background-position: -150px -0px;
	cursor: pointer;
}
/*it's a common button style*/
.adduser{
	margin-left:90%;
	margin-bottom: 1em;
	width: 80px;
	height: 30px;
	cursor: pointer;
	border-radius: 3px;
	color: #ccf;
	background-color: #66c;
}
.adduser:hover{
	background-color: #33c;
}
/*this common button style end*/
.tb-users{
	margin:-0.6em 1em 1em 1em;
}
.tb-users,.tb-users td,.tb-users th{
	border:1px solid #dfdfdf;
	border-collapse: collapse;
}
/**********right part*****************/